---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Blog">
	<div class='flex w-full min-h-screen justify-center items-center'> 
		<p class="text-6xl dark:text-white p-4 py-12">Hello! My name is <a class="text-indigo-400 text-8xl hover:border-b-8 border-blue-800 transition-all" href="/about">Bailey...</a></p>
	</div>
</Layout>