---
import HeaderComponent from "./HeaderComponent.astro";
import HeaderLink from "./HeaderLink.astro";
import ThemeButton from "./ThemeButton.vue";

import { Icon } from 'astro-icon';
---
<div class="border-b dark:border-slate-700 dark:border-opacity-25 dark:shadow-md dark:bg-zinc-900 bg-white h-14 fixed w-full z-10">
    <div class='md:w-2/3 mx-auto flex'>
        <HeaderComponent>
            <HeaderLink text="Bailey" link="/" className='text-4xl pl-0'/>
        </HeaderComponent>
        <nav class="ml-auto flex items-center">
            <HeaderComponent>
                <ThemeButton client:load />
            </HeaderComponent>
            <HeaderComponent>
                <HeaderLink text="Blog" link="/blog"/>
            </HeaderComponent>
            <HeaderComponent>
                <HeaderLink text="About" link="/about"//>
            </HeaderComponent>
            <HeaderComponent>
                <a href="https://github.com/Bailey-W" target="_blank">
                    <Icon pack="mdi" name="github" class="icon"/>
                </a>
            </HeaderComponent>
        </nav>
    </div>
    
</div>
<style>
    .icon {
        @apply w-12 text-indigo-400 hover:border-b-4 border-blue-600 transition-all duration-75
    }
</style>