---
interface Props {
    text: string,
    link: string,
    className?: string,
    targetBlank?: boolean
}

const { text, link, className, targetBlank } = Astro.props;
---
<a class:list={[
    className, 
    "text-indigo-400 hover:border-b-4 border-blue-600 transition-all duration-75 text-2xl inline-block align-center"
    ]} 
    href={link}
    target={targetBlank? '_blank' : '_self'}>
    { text }
</a>