---
interface Props {
    text: string,
    link: string,
    className?: string,
    targetBlank?: boolean
}

const { text, link, className, targetBlank } = Astro.props;
---
<a class:list={[
    className, 
    "transition ease-in-out delay-75 dark:text-white text-2xl inline-block align-center dark:hover:text-indigo-400 dark:focus-within:text-indigo-400 hover:text-indigo-400 focus-within:text-indigo-400 duration-150"
    ]} 
    href={link}
    target={targetBlank? '_blank' : '_self'}>
    { text }
</a>