---
import PostCard from "./PostCard.astro";

const { posts } = Astro.props;

const sortedPosts = posts.sort((a: any, b: any) => {
    if(a.frontmatter.pubDate > b.frontmatter.pubDate)
        return -1;

    if(b.frontmatter.pubDate > a.frontmatter.pubDate)
        return 1;
    
    return 0;
});
---
<div class="flex flex-wrap">
    {sortedPosts.map((post: any) => <PostCard frontmatter={post.frontmatter} url={post.url} />)}
</div>